.modal-content {
  position: relative;
  width: 700px;
  height: 600px;
  background-color: lightpink;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content img {
  width: 50%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
  padding: 5px;
  background-color: #e11d48;
  border-radius: 5px;
}
.close:hover {
  background-color: #be123c;
}
